    <fieldset>
      <form name='regForm' id="regForm" class="form-horizontal" novalidate>
        <h2>Registration</h2>
          <br>
         <label for="userfirstname">First name:</label>
         <input type="text" name="userfirstname" id="userfirstname" placeholder="Enter first name"
          ng-model="signUpCtrl.user.userfirstname"
          required
          ng-maxlength="10">
          <span
            ng-if="regForm.userfirstname.$error.required && regForm.userfirstname.$touched">
            Please Enter first name
          </span>
          <span ng-if="regForm.userfirstname.$error.maxlength">
            First name must not be longer than 10 characters
          </span>
          <br>

          <label for="userlastname">Last name:</label>
          <input type="text" name="userlastname" id="userlastname" placeholder="Enter last name"
          ng-model="signUpCtrl.user.userlastname"
          required
          minlength="2"
          ng-maxlength="20">
          <span
            ng-if="(regForm.userlastname.$error.minlength || regForm.userlastname.$error.required) && regForm.userlastname.$touched">
            Last Name must be at least 2 characters long
          </span>
          <span ng-if="regForm.userlastname.$error.maxlength">
            Last Name must not be longer than 20 characters
          </span>
          <br>
          
          <label for="email">Email:</label>
          <input type="email" name="email" id="email" placeholder="Email"
          ng-model="signUpCtrl.user.email"
          required>
          <span ng-if="regForm.email.$invalid && regForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
          <br>

          <label for="phone">Phone:</label>
          <input type="text" name="phone" id="phone" placeholder="Phone ###-###-####"
          ng-model="signUpCtrl.user.phone"
          pattern="(\d{3})-(\d{3})-(\d{4})">
          <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
            Phone must be in the format ###-###-####.
          </span>
          <br>

          <label for="menunumber">Favorite Dish:</label>
          <input type="text" name="menunumber" id="menunumber" placeholder="Enter a menu number"
          ng-model="signUpCtrl.user.menunumber"
          required
          minlength="1"
          ng-maxlength="5">
          <span
            ng-if="(regForm.menunumber.$error.minlength || regForm.menunumber.$error.required) && regForm.menunumber.$touched">
            Menu Number must be at least 1 characters long
          </span>
          <span ng-if="regForm.menunumber.$error.maxlength && regForm.menunumber.$touched">
            Menu Number must not be longer than 5 characters
          </span>
          <br>
          
          <label></label>
          <button
          id="submitButton"
          ng-disabled="regForm.$invalid"
          ng-click="signUpCtrl.submit()">Submit</button>
          
        <div ng-if="signUpCtrl.message.length">
          <h3>{{ signUpCtrl.message }}</h3>
        </div>
      </form>
    </fieldset>